@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*============NAVBAR============*/
header {
  position: fixed;
  width: 100%;
  background: #ffffff1c;
  z-index: 100;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

li a {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 20px;
}

nav {
  background: #ffffff1c;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

nav ul {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

nav li a {
  color: #FFC310;
}

nav ul li a:hover {
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.logo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*============Footer============*/
footer {
  position: absolute;
  /*bottom: 0px;*/
  left: 0px;
  right: 0px;
  background: #111;
  height: auto;
  width: 100%;
  font-family: "open sans";
  padding-top: 40px;
  color: #fff;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer_content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer_content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer_redes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer_redes li {
  margin: 0 10px;
}

.footer_redes a {
  text-decoration: none;
  color: #fff;
}

.footer_redes a i {
  font-size: 1.1rem;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.footer_redes a:hover i {
  color: #FFC310;
}

.footer_bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer_bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer_bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/*=====Index=======*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

.element1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
  background-image: url(../imagenes/comunal.png);
  padding: 280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.element1 h1 {
  color: #FFC310;
  text-align: center;
  font-size: 70px;
  word-spacing: 10px;
}

.element1 p {
  color: white;
  text-align: center;
  font-size: 25px;
  word-spacing: 0px;
}

.element2 {
  background: #00151a;
  padding: 100px;
}

.element2 h2 {
  color: #FFC310;
  font-size: 60px;
  text-align: center;
}

.element2 p {
  color: white;
  font-size: 20px;
}

.element3 {
  background-image: url(../imagenes/trigo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.element4 {
  background-image: url(../imagenes/cuenco.jpg);
  background-size: cover;
  padding: 240px;
  background-position: center;
}

.element5 {
  background: #00151a;
  padding: 140px;
}

.element5 h2 {
  color: #FFC310;
  font-size: 50px;
  text-align: center;
}

.element5 p {
  color: white;
  text-align: center;
  font-size: 20px;
}

.element6 {
  background-image: url(../imagenes/exterior.png);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.element6 h2 {
  color: #FFC310;
  font-size: 60px;
  text-align: center;
}

.element6 p {
  color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

/*======Productos======*/
.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 5px;
  margin-top: 100px;
}

.column img {
  margin-top: 5px;
}

/*====Locales===*/
.grid-locales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: repeat 5 auto;
      grid-template-rows: repeat 5 auto;
  row-gap: 5px;
  -webkit-column-gap: 63px;
          column-gap: 63px;
}

.locales1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
  background-image: url(../imagenes/locales1.png);
  padding: 280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.locales3 {
  background-image: url(../imagenes/locales2.png);
  padding: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.locales5 {
  background-image: url(../imagenes/locales3.png);
  padding: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.locales7 {
  background-image: url(../imagenes/locales4.png);
  padding: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.locales8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 5;
  grid-row: 5;
  background-image: url(../imagenes/locales5.png);
  padding: 280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/*# sourceMappingURL=estilos.css.map */